//Colors
$bg-color: #212229;
$white-color: #ffffff;
$black-color: #333;
$blue-color: #01B0D3;
$red-color: #C3073F;

//Font Sizes
$sm-font: 0.75rem;
$base-font: 1rem;
$md-font: 1.5rem;
$l-font: 2rem;
$xl-font: 2.5rem;
$xxl-font: 3rem;