@import '../../styles/globals.scss';

.create-page {
    height: 100vh;
    overflow: hidden; 
    @media(max-width: 450px) {
        height: 100%;
    }
    form {
        color: #ffffff;
    
        label {
            font-size: 1.25rem;
            margin: 0.5rem 0;
        }
    
        input {
            background-color: $white-color;
            border: none;
            color: $black-color;
            padding-bottom: calc(0.5em - 1px);
            padding-left: calc(0.75em - 1px);
            padding-right: calc(0.75em - 1px);
            padding-top: calc(0.5em - 1px);
            height: 3rem;
            margin-bottom: 1rem;
            outline: none;
            font-size: $md-font;
            font-family: inherit;
    
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    
        .name {
            width: 25rem;
            @media(max-width: 450px) {
                width: 20rem;
            }
            input {
                width: 100%;
            }
        }
    
        .sets-reps-rest {
            width: 25rem;
            @media(max-width: 450px) {
                width: 20rem;
            }
            input {
                width: 100%;
                border-right: 1px solid $bg-color;
            }
        }
    
        .muscles {
            width: 25rem;
            @media(max-width: 450px) {
                width: 20rem;
            }
            input {
                width: 100%;
            }
        }
    
        .notes {
            width: 25rem;
            @media(max-width: 450px) {
                width: 20rem;
            }
            textarea {
                width: 100%;
                resize: vertical;
                background-color: $white-color;
                border-color: $white-color;
                color: $black-color;
                padding-bottom: calc(0.5em - 1px);
                padding-left: calc(0.75em - 1px);
                padding-right: calc(0.75em - 1px);
                padding-top: calc(0.5em - 1px);
                margin-bottom: 1rem;
                outline: none;
                font-size: $md-font;
                font-family: inherit;
            }
        }

        button {
            @include button;
            width: 15rem;
        }
    }
}

